---
layout: default
title: Home
---
<div id=blink style="padding:11px;filter:url(#bevel);background-color:#f33;display:flex;justify-content:center;flex-wrap:wrap;animation:3s steps(2,jump-none) infinite blink">
<div style=color:#fff>
 <h1 style="margin:8px 0;font-size:42pt;font-weight:normal">FILLBERT The Empty Space Cat!</h1>
 <div style=font-size:25pt>The webcomic powered by Scalable Vector Graphics!</div>
</div>
<svg width="118" height="118" aria-label="Latest comic">
 <defs>
  <filter id="bevel">
   <feGaussianBlur result="r0" stdDeviation="4"/>
   <feSpecularLighting result="r1" specularExponent="25" surfaceScale="4">
    <feDistantLight azimuth="235" elevation="45"/>
   </feSpecularLighting>
   <feMorphology in="r0" radius="8" result="r2"/>
   <feDropShadow stdDeviation="0" dx="6" dy="6"/>
   <feComposite in2="r1"/>
   <feComposite in2="r2" operator="out"/>
   <feComposite in2="SourceGraphic"/>
   <feComposite in2="SourceGraphic" operator="in"/>
  </filter>
 </defs>
 <a href="{% include rel u=site.posts.first.url %}" id="latest">
 <path filter="url(#bevel)" d="m118 57.9-12.3 7.27 9.79 11-14 3.11 5.92 13.5-14.2-1.36 1.47 14.6-13.1-5.69-3.12 14.4-10.7-9.47-7.4 12.7-7.27-12.3-11 9.79-3.11-14-13.5 5.92 1.36-14.2-14.6 1.47 5.69-13.1-14.4-3.12 9.47-10.7-12.7-7.4 12.3-7.27-9.79-11 14-3.11-5.92-13.5 14.2 1.36-1.47-14.6 13.1 5.69 3.12-14.4 10.7 9.47 7.4-12.7 7.27 12.3 11-9.79 3.11 14 13.5-5.92-1.36 14.2 14.6-1.47-5.69 13.1 14.4 3.12-9.47 10.7z" fill="#ff4"/>
 <g font-family="Vivi" font-size="20pt" text-anchor="middle" text-decoration="underline"><text x="58.9" y="54.9">Latest</text><text x="58.9" y="81.6">comic</text></g></a>
</svg>
</div>
<script>if (window.localStorage.getItem("disableAnimations")=="true") document.getElementById("blink").style.animation=""</script>
<div style=display:flex;color:#000;flex-wrap:wrap>
<div style="background-color:#6f6;filter:url(#bevel);padding:11px;flex:1 1 200px">
<i>Fillbert</i> contains:<br>
 <ul id=features>
  <li>Math!
  <li>{% assign all = site.posts|join:""|cgi_escape %}Over {{all|remove:"%"|size|times:2|minus:all.size|divided_by:1000}} kilobytes of comics!
  <li><abbr title="Scalable Vector Graphics">SVG</abbr>\ <abbr title="Synchronized Multimedia Integration Language">SMIL</abbr> animations!
  <li>At least one allosexual character!
  <li>ISO 8601 date and time formats!
  <li>Flagrant use of semicolons and interrobangs!
  <li>An above average amount of weirdness!
  <li>Gay!!
 </ul>
</div>
<div style="background-color:#f6f;filter:url(#bevel);flex:2 1 auto">
<a href="{% include rel u=site.posts.first.url %}"><img src="{% include rel u='/img/fillbert.svg'%}" style=max-width:100%;height:auto height=600 width=600 alt="Latest comic"></a>
</div>
</div>

<style>
#latest:hover g, #latest:focus g, #latest:active g {outline:thin solid #000}
#features li {margin:15pt 0}
@keyframes blink {
 from {background-color:#f33}
 to {background-color:#33f}
}
</style>

<p>Welcome to the web site of Fillbert, the cat that fills empty space! The site is being slowly filled with comics. Click the Fillbert above to go to the latest comic.
<p><noscript>If your browser had JavaScript enabled, there would be an option to disable animations in the header navigation.</noscript><span class=yescript>You can enable or disable animations using the button in the header navigation.</span>
