@font-face {
	font-family: "Vivi";
	src: url("img/vivi.woff");
}
body {
	text-align: center;
	font-size: 14pt;
	font-family: Vivi;
	color: #fff;
	background-color: #222;
}
a:any-link {
	color: #ff0;
}
svg {
	max-width: 100%;
	height: auto;
}
nav ul {
	padding: 9px 5px 5px;
	background-color: #444;
	border-radius: 9px;
}
nav li {
	float: left;
	display: inline;
	margin: 0 .5em;
}
ul {
	display: inline-block;
	text-align: initial;
	margin: 0;
}
ul ul {
	display: block;
}
#comic {
	text-decoration: none;
	background-color: #fff;
	color: #000;
	display: inline-block;
	padding: 9px 9px 2px;
	border-radius: 9px;
	margin-bottom: 1em;
}
.shos {
	display: none;
}
.shos:target {
	display: block;
}
@media print {
	header, footer, hr, nav {display: none}
	body {color: #000; background-color: #fff}
	#comic {padding: 0; margin: 0; break-inside: avoid}
	a:any-link {color: #00f}
}
