@font-face {
	font-family: "Vivi";
	src: url("img/vivi.woff");
}
body {
	text-align: center;
	font-size: 14pt;
	font-family: Vivi;
	color: #000;
	background-color: #fff;
}
svg {
	max-width: 100%;
	height: auto;
}
nav ul {
	padding: 9px 5px 5px;
	background-color: #eee;
	border: 2px #444 solid;
	border-radius: 9px;
}
nav li {
	float: left;
	display: inline;
	margin: 0 .5em;
}
ul {
	display: inline-block;
	text-align: initial;
	margin: 0;
}
ul ul {
	display: block;
}
#comic {
	text-decoration: none;
	color: #000;
}
@media print {
	header, footer, hr, nav {display: none}
}
