---
layout: 3panel
permalink: /2021/W52
tags: Fillbert Yellow Fabian
---
<style>@font-face {font-family:"Avrile Sans Condensed";src:url("{% include rel u='/img/asc.woff' %}")}
@font-face {font-family:"OCRA";src:url("{% include rel u='/img/ocra.woff' %}")}</style>
<g font-size="14pt" text-anchor="middle">

<svg width="256" height="256">
<rect id="backg" width="256" height="256" fill="#f5a"/>
<g stroke="#000" stroke-linecap="round" stroke-linejoin="round">
   <rect x="168" y="208" width="95.5" height="54.8" fill="#ff9"/>
   <rect x="64.3" y="9.75" width="182" height="44" ry="8" fill="#fff"/>
<g id="bert" fill="#fff" stroke-width="3">
  <path d="m93.6 178c9.1 21.5 33.1 23.5 46.1 12.4 7.53-6.45 20.5-3.99 19.4 7.49" fill="none" stroke-width="9"/>
  <g id="s">
   <path d="m72.7 201c-.354 4.24-1.02 10.8-7.38 10.7-4.78-.0948-7.03-6.72-7.03-12.1m-2.79-106-34.4-16.8 2.75 49.1"/>
   <path d="m31.7 114-1.4-22 15.7 8.2" fill="#fcc" stroke-width="2"/>
  </g>
  <use transform="matrix(-1 0 0 1 151 0)" href="#s"/>
   <circle cx="75.3" cy="147" r="57.6"/>
    <path d="m105 192c.177 18.8-3.88 24.5-10.2 24.6-7.35.124-10.4-6.63-10.5-16.4m-39.4-8.28c-.177 18.8 3.88 24.5 10.2 24.6 7.35.124 10.4-6.63 10.5-16.4"/>
<g stroke-width="2">
    <path d="m75.6 161-9.8 18.5h20.3z" fill="#900"/>
    <path d="m98 182 9.31 3.69m-8-30.1 9.25-3.38m-55.8 29.8-9.31 3.69m8-30.1-9.25-3.38m46.5-43.1v36.8m-25.8-36.8v36.8" fill="none"/>
</g>
   <path d="m161 52.4-23.9 60.3 48.6-60.5" stroke-width="1"/>
</g>
</g>
  <text><tspan class="dsc">Fillbert: </tspan><tspan x="160" y="28.1"><tspan font-style="italic">Fillbert</tspan> will be going </tspan><tspan x="156" y="46.7">on a 49-week hiatus!</tspan></text>
  <text text-anchor="end"><tspan class="dsc">Yellow: </tspan><tspan x="247" y="228">What? No</tspan><tspan x="247" y="247"> it won't!</tspan></text>

</svg>

<svg width="256" height="256" x="300">
<use href="#backg"/>
<g stroke="#000" stroke-linecap="round" stroke-linejoin="round" fill="#fff">
  <path d="m216 170c15.5 36.5 37.5-23.8 49 5.5" fill="none" stroke-width="9"/>
  <g stroke-width="3">
   <path d="m213 182c1e-5 16-3.76 19.9-9.37 20-5.77.0383-9.03-5.69-9.12-12.9m-55.8-14.9c-14.3.571-28.2-5.91-27.3-12.7.839-6.82 9.16-7.58 15.4-6.7m32.7-65.8-17.6-13.9-.193 26.2"/>
   <circle cx="176" cy="139" r="57.6"/>
    <path d="m157 189c-.125 15.3 4.1 20.5 10.7 20.6s9.65-6.68 9.52-15.5m-9.31-100 33.4-13.1-12.4 45.3"/>
  </g>
  <g stroke-width="2">
  <path d="m139 155-3.69 15.2 15.3.682z" fill="#900"/>
  <path d="m131 171-6.38 4.13m.32-23.5-7.6-2.63m40.8 22.4 7.74 3.84m-7.87-23.7 7.69-3.58m-9.15-43.2c-7.56 9.55-10.4 25.1-11 36.3m-3.11-37.5c-6.34 7.36-11.6 20.5-12.1 37.2" fill="none"/>
    <path d="m172 102 15.7-7.16-6.36 20" fill="#fcc"/>
</g>
   <rect x="52" y="5.5" width="195" height="63" ry="8"/>
    <rect x="177" y="226" width="28.5" height="21" ry="8"/>
   <path d="m101 66.8 24.7 24.9-6.19-25.3m74.5 161-30.9-45.5 21.6 45.5"/>
   <rect x="-4.62" y="188" width="173" height="76.8" fill="#ff9"/>
</g>
<text class="dsc">{Fillbert points to a plain text editor, listing weeks from 2021-W49 to 2022-W04.}</text>
  <text><tspan class="dsc">Fillbert: </tspan><tspan x="153" y="23.6">It will; look, the next </tspan><tspan x="153" y="42.3">comic scheduled after </tspan><tspan x="149" y="61">2021-W52 is 2022-W01!</tspan></text>
  <g transform="skewY(-17)" font-size="8px" text-anchor="start" aria-hidden="true">
  <g fill="#aaa">
    <rect x="8" y="105" width="91" height="77"/>
    <rect x="9" y="106" width="89" height="9" fill="#00f"/>
    <g fill="#fff">
    <text font-family="Avrile Sans Condensed" x="9" y="113">schedule.txt</text>
    <rect x="9" y="116" width="89" height="65"/>
    </g>
      <rect x="90" y="107" width="7" height="7"/>
      </g>
   <text font-family="OCRA"><tspan x="9" y="123">2021-W49</tspan><tspan x="9" y="131">2021-W50</tspan><tspan x="9" y="139">2021-W51</tspan><tspan x="9" y="147">2021-W52</tspan><tspan x="9" y="155">2022-W01</tspan><tspan x="9" y="163">2022-W02</tspan><tspan x="9" y="171">2022-W03</tspan><tspan x="9" y="179">2022-W04</tspan></text>
   <path d="m92 109 3 3m-3 0 3-3" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <text text-anchor="start"><tspan class="dsc">Yellow: </tspan><tspan x="8" y="208">2022-W01 is the </tspan><tspan x="8" y="226">week immediately </tspan><tspan x="8" y="245">following 2021-W52.</tspan></text>
  <text><tspan class="dsc">Fillbert: </tspan><tspan x="191" y="243">Oh.</tspan></text>
</svg>

<svg width="256" height="256" x="600">
<g stroke="#000" stroke-linecap="round" stroke-linejoin="round">
<use href="#backg"/>
  <g stroke-width="2">
   <path d="m220 94.7 18.9.914 19.2-3.13-16.1-1.75 16.1 1.75-2.49-23.2-15.7-3.04" fill="#555"/>
   <path d="m239 66.2 2.08 24.5-22 3.96-2.13-24.1z" fill="#f00"/>
   <path d="m245 146-9.4 3.66 12.4 44.5 9.19-2.99" fill="#753"/>
   <path d="m256 144-10.5 3.74 12 43.6" fill="#888"/>
   <path d="m246 92.4 7.92-.282 10.6 50.5-8.15 1.18" fill="#b76"/>
   <path d="m227 98.1-8.37 1.62 13.8 44.9 5.2-1.05" fill="#aaa"/>
   <path d="m246 92.4 10.3 51.4-20.5 4.42-10.3-50.1z" fill="#111"/>
    <path d="m253 90.2 5.6 1.78 8.65 46-14.2-47.8-7.23 2.23 13.6 47.2" fill="#a52"/>
  </g>
  <path d="m231 74.2c1.4-1.27 4.9-1.85 6.39-.388m-18.1 3.18c1.57-2.07 4.65-2.42 5.47-1.81" fill="none"/>
     <path d="m251 131-5.38-26.8-15.6 3.5 5.53 26.4" fill="#777"/>
     <path d="m229 105 15.4-3.65-1.04-4.91-15.4 3.62" fill="#b96"/>

     <circle cx="243" cy="132" r="8.57" fill="#054"/>
     <circle cx="242" cy="132" r="2.85" fill="#022"/>
<g transform="rotate(-12)" fill="#d7f">
     <ellipse cx="205" cy="190" rx="3.09" ry="1.59"/>
    <ellipse cx="216" cy="190" rx="3.09" ry="1.59"/>
</g>
   <path d="m245 146-9.4 3.66 2.15 7.64 3.69 5.16 1.41-8.47 5.25 4.06z" fill="#574"/>
     <g fill="#fff">
     <path d="m235 98.8 2.54-.641 1.04 4.91-2.61.663zm6.41-1.49 2.54-.641 1.04 4.91-2.61.663zm-12.8 2.98 2.54-.641 1.04 4.91-2.61.663z"/>
  <rect x="68.5" y="9.75" width="175" height="44" ry="8"/>
  </g>
  <rect x="8.1" y="224" width="234" height="38.1" fill="#ff9"/>
  <use href="#bert"/>
</g>
<g fill="#c0f">
    <circle cx="239" cy="143.5" r=".681"/>
    <circle cx="250" cy="141" r=".681"/>
</g>
  <path d="m233 76.4 3.21-.544.875 7.36-3.23.501m-12.9-5.12 3.06-.503.883 7.12-3.05.47" fill="#fff"/>
  <path d="m233.5 76.6 1.42-.222.847 6.83-1.45.231m-12.9-4.69 1.37-.244.818 6.7-1.36.229"/>
  <path d="m228 84.8-1.11-7.11 4.45 6.42-.87-7.18" fill="none" stroke="#fff"/>
  <text class="dsc">{<tspan xml:lang="de">Fabian</tspan> appears in the background.}</text>
  <text><tspan class="dsc">Fillbert: </tspan><tspan x="160" y="28.1"><tspan font-style="italic">Fillbert</tspan> will be going </tspan><tspan x="156" y="46.7">on a 1-week hiatus!</tspan></text>
  <text><tspan class="dsc">Yellow: </tspan><tspan x="124" y="244">...Sure. That's close enough.</tspan></text>
</svg>

</g>
