---
layout: comic
---
<svg width="900" height="300" version="1.1" viewBox="0 0 900 300" xmlns="http://www.w3.org/2000/svg">
  <rect width="900" height="300" fill="#fff"/>
  <text x="1" y="17" font-family="Vivi" font-size="17px" letter-spacing="0px" word-spacing="0px" xml:space="preserve">FILLBERT © {{page.date|date:"%G"}} Vivi</text>
{{content}}
  <rect id="panel" x="22" y="22" width="256" height="256" fill="none" stroke="#000" stroke-width="6"/>
  <use href="#panel" x="300"/>
  <use href="#panel" x="600"/>
  <text x="899" y="295" font-family="Vivi" font-size="17px" letter-spacing="0px" word-spacing="0px" text-anchor="end" xml:space="preserve">CC-BY-NC mincerafter42.github.io/fillbert</text>
</svg>
