---
layout: default
is_comic: true
---
<h1>Comic for {{ page.date | date: site.date_format }}</h1>
<div id="comic">
{{content}}
</div>
<nav><ul><li><a{% if page.previous %} href="{{site.posts[-1].url|relative_url}}" rel="first"{%endif%}>First</a></li><li><a{% if page.previous %} href="{{page.previous.url|relative_url}}" rel="prev"{%endif%}>Previous</a></li><li><noscript>Permalink: {{page.url|absolute_url}}</noscript><button class="yescript" type="button" onclick='copy("{{page.url|absolute_url}}")'>Copy permalink</button></li><li><a{% if page.next %} href="{{page.next.url|relative_url}}" rel="next"{%endif%}>Next</a></li><li><a{% if page.next %} href="{{site.posts[0].url|relative_url}}" rel="last"{% endif %}>Latest</a></li></ul></nav>
{% if page.commentary %}<h2 id="commentary">Commentary</h2>{{page.commentary | markdownify}}{% endif %}
