---
layout: compressxml
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="{{"/main.css" | relative_url}}"/>
<link rel="icon" href="{{"/img/fav.gif"|relative_url}}"/>
<noscript><style>.yescript{display:none}</style></noscript>
<title>Fillbert {% if layout.is_comic %}comic for {% include title post=page %}{% else %}| {{page.title}}{% endif %}</title>
<script src="{{"/main.js"|relative_url}}"></script>
</head>
<body>
<header><nav class="skip"><a href="#main">Skip to content</a></nav>
{{site.title}} {{site.tagline}}<nav>
<ul>
<li><a href="{{"/" | relative_url}}">Home</a></li>
<li><a href="{{"/about" | relative_url}}">About</a></li>
<li><a href="{{"/archive" | relative_url}}">Archive</a></li>
<li><a href="{{"/tags" | relative_url}}">Tag search</a></li>
<li><a href="{{"/feeds" | relative_url}}">Feeds</a></li>
<li><a href="{{"/social" | relative_url}}">Social</a></li>
<li class="yescript"><button type="button" id="disableAnimations" onclick="invertStorageFromId(this)">Disable animations</button></li>
</ul></nav>
</header>
<main id="main">
{{content}}
</main>
<footer>Fillbert © {{site.time|date:"%G"}} Vivi. <br/>Except where otherwise noted, Fillbert is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>
</footer>
</body>
</html>
